@media screen and (max-width: 480px) {

    body {
        font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Arial, sans-serif;
    }

    header {
        color: whitesmoke;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #00a54f;
        /* ↑セブンのカラーコード(緑) */
        /* background-color: rgba(148, 149, 147, 0.9); */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    main {
        margin-top: 80px;
    }

    h1 {
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 0px;
        margin-left: 15px;
        font-size: 32px;
        text-align: center;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    #user-form {
        text-align: center;
    }

    /* label, */
    select,
    input[type="number"],
    input[type="text"] {
        width: 100%;
        font-size: 16px;
        /* margin-bottom: 16px; */
        border: 1px solid;
        border-color: #008833;
        border-radius: 4px;
    }

    .btnArea {
        text-align: center;
        margin-bottom: 24px;
        ;
    }

    .btn {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        box-sizing: border-box;
        width: 280px;
        text-decoration: none;
        color: #008833;
        padding: 14px;
        background-color: #fff;
        border-radius: 40px;
        border: 1px solid #008833;
        transition: background-color 0.3s ease;
    }

    select {
        height: 40px;
    }





    /* 以下ハンバーガー */
    .hamburger-menu {
        position: relative;
        display: flex;
        /* align-items: center; */
    }


    .menu-icon {
        cursor: pointer;
        display: inline-block;
        height: 48px;
        position: absolute;
        right: 10px;
        top: -19px;
        width: 48px;
        z-index: 1001;
    }


    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    nav li {
        margin-bottom: 10px;
    }

    nav a {
        color: #fff;
        text-decoration: none;
    }


    nav {
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: opacity 0.5s, visibility 0.5s, transform 0.5s;

        background-color: rgba(238, 29, 35, 1.0);
        /* ↑セブンのカラーコード(赤) */
        border-radius: 45%;
        box-sizing: border-box;
        padding: 15px;
        position: fixed;
        right: -100px;
        top: -20px;
        width: 70%;
        height: 50%;
        overflow-y: auto;
    }

    .nav-visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

}